---
import { Image } from "astro:assets";
import seafood from "../../assets/home/seafood-appetizers.jpeg";

const content = {
  title: "",
};

const menus = [
  {
    name: "Mexican Cuisine",
    detail:
      "Enjoy the classic flavors of Mexican cuisine, from delicious moles to typical appetizers.",
  },
  {
    name: "Brunch",
    detail:
      "Enjoy a tasty traditional brunch or a Mexican brunch to kick off your weekend. Elevate your event  with a live omelette station or a chilaquiles cart.",
  },
  {
    name: "",
    detail: "",
  },
  {
    name: "American Favorites",
    detail:
      "Choose from casual dishes like burgers and wings, or elegant dinners with steaks and pastas.",
  },
  {
    name: "Elegant Dinners",
    detail:
      "Surprise your guests with a formal multi-course dinner, perfect for anniversaries or business meetings.",
  },
  {
    name: "",
    detail: "",
  },
  {
    name: "Italian Menu",
    detail:
      "Transport your guests to the heart of Italy with our delicious, homemade Italian cuisine.",
  },
  {
    name: "Add-ons",
    detail: "Add-ons appetizers station, snack station and desserts.",
  },
];
---

<section id="services" class:list={["section"]}>
  <header
    class:list={[
      "flex flex-col",
      "mx-auto",
      "max-w-2xl",
      "pb-4",
      "text-center",
      "[&_p]:font-sans [&_p]:font-extralight [&_p]:text-lg [&_p]:text-green-leaf-900",
    ]}
  >
    <h2
      class:list={[
        "pb-8",
        "font-serif text-heading-sm md:text-heading-lg text-french-rose-400",
      ]}
    >
      Homemade flavor for unforgettable celebrations
    </h2>
    <p class="pb-4">
      We bring family tradition to your table with homemade recipes made with
      fresh, high-quality ingredients.
    </p>
    <p>We offer a variety of menus to satisfy all tastes and occasions.</p>
  </header>
  <div
    class:list={[
      "grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 lg:grid-rows-[repeat(4,7)]",
      "gap-8 lg:gap-2",
    ]}
  >
    {
      menus.map((menu, index) => (
        <article
          class:list={[
            "flex flex-col items-center",
            "py-2.5 px-4",
            { hidden: index === 2 || index === 5 || index === 8 },
            "lg:first-of-type:col-span-3 lg:first-of-type:self-end",
            "lg:last-of-type:col-span-3",
          ]}
        >
          <h3
            class:list={[
              "font-serif text-3xl xl:text-4xl text-center text-pretty text-french-rose-400",
            ]}
          >
            {menu.name}
          </h3>
          <p
            class:list={[
              "max-w-80",
              "pt-3",
              "font-sans font-extralight text-base xl:text-lg text-center text-pretty text-green-leaf-900",
            ]}
          >
            {menu.detail}
          </p>
        </article>
      ))
    }
    <Image
      src={seafood}
      alt="Seafood appetizer"
      class:list={[
        "lg:col-start-2 lg:row-start-2 lg:row-end-4",
        "hidden lg:block",
        "border-green-leaf-900 border-t-4 border-b border-l-2 border-r-2",
        "lg:h-full",
        "object-cover rounded-full",
        "place-self-center",
      ]}
    />
  </div>
  <div
    class:list={[
      "flex flex-col gap-4",
      "max-w-2xl mx-auto",
      "pt-8 lg:pt-4",
      "text-center",
      "[&_p]:font-sans [&_p]:font-extralight [&_p]:text-lg [&_p]:text-green-leaf-900",
    ]}
  >
    <p>
      At La Chinacata, we customize menus to make your event extra special. Let
      us create a personalized culinary experience just for you!
    </p>
    <p>Contact us to start planning today.</p>
  </div>
</section>
