---

---

<section class="section-full hero">
  <h1
    class:list={[
      "absolute bottom-40",
      "font-serif",
      "max-w-96 lg:max-w-lg",
      "px-4",
      "text-hero-sm md:text-hero-md lg:text-hero-lg text-center text-pretty text-vista-white",
    ]}
  >
    Authentic homemade flavor
  </h1>
</section>
<style>
  .hero {
    background:
      linear-gradient(#e556090d 30%, #2626268c 60%),
      url("../../assets/appetizers-copy.jpeg") no-repeat center / cover;
    display: flex;
    justify-content: center;
    height: 80vh;
  }
</style>
