---
import { Image } from "astro:assets";
import garland from "../../assets/about/flowers.svg";
import truck from "../../assets/gallery/food-truck.png";
import foodtruck from "../../assets/gallery/foodtruck.png";
import founders from "../../assets/gallery/chinacata-founders.png";
---

<section class="section-full py-20 bg-french-rose-50">
  <article
    class:list={["section", "grid grid-cols-1 lg:grid-cols-2", "gap-10"]}
  >
    <div class:list={["min-h-80 sm:min-h-[576px] lg:min-h-0", "relative"]}>
      <Image
        src={foodtruck}
        alt=""
        class:list={[
          "absolute top-0 right-0",
          "border-8 border-b-[20px] border-white rounded-sm",
          "object-cover object-right-bottom",
          "h-1/2 w-1/2",
        ]}
      />
      <Image
        src={truck}
        alt="La Chinacata food truck."
        class:list={[
          "absolute top-[20%] left-0",
          "border-8 border-b-[20px] border-white rounded-sm",
          "object-cover object-[center_bottom]",
          "h-[58%] w-2/3",
        ]}
      />
      <Image
        src={founders}
        alt="La Chinacata founders within the foodtruck."
        class:list={[
          "absolute bottom-0 right-[5%]",
          "object-cover object-center",
          "rounded-tl-full rounded-tr-full",
          "h-3/5 w-2/5",
        ]}
      />
    </div>
    <header
      class:list={[
        "flex flex-col items-center",
        "[&_p]:mx-auto [&_p]:mt-4",
        "space-y-4",
        "[&_p]:text-lg [&_p]:text-center [&_p]:text-pretty",
        "[&_p]:font-extralight [&_p]:text-green-leaf-900",
      ]}
    >
      <span class="font-light text-sm text-center text-green-leaf-900 uppercase"
        >Our start</span
      >
      <h2
        class:list={[
          "font-serif text-heading-sm md:text-heading-lg",
          "text-center text-pretty text-french-rose-500",
        ]}
      >
        Origins
      </h2>
      <Image
        src={garland}
        alt="Flowers garland"
        class:list={["object-contain", "place-self-center", "h-16 md:h-24"]}
      />
      <p>
        La Chinacata was born from the passion of our founder, Rocío Reyna, who
        decided to bring homemade flavors to the streets of California through a
        charming food truck decorated like a typical Mexican house in vibrant
        colors.
      </p>
      <p>
        From our humble beginnings, we have delighted our customers with
        traditional dishes that evoke family memories and celebrations. La
        Chinacata has grown, but our mission remains the same: to offer the
        authentic taste of home at every event, bringing joy and tradition to
        every corner.
      </p>
    </header>
  </article>
</section>
