---
import { Image } from "astro:assets";
import founder from "../../assets/about/founder-s.png";
import cofounder from "../../assets/about/cofounder-s.png";
import garland from "../../assets/about/flowers.svg";
---

<section class="section-full space-y-8">
  <div
    class:list={[
      "section",
      "grid grid-cols-1 md:grid-cols-2 items-start",
      "gap-y-8 md:gap-x-10 xl:gap-x-16",
    ]}
  >
    <header
      class:list={[
        "grid items-center",
        "row-start-1 md:col-span-2",
        "space-y-5",
        "[&_p]:font-extralight [&_p]:text-center [&_p]:text-pretty [&_p]:text-green-leaf-900",
      ]}
    >
      <span class="font-light text-sm text-center text-green-leaf-900 uppercase"
        >Team</span
      >
      <h2
        class:list={[
          "font-serif text-heading-sm md:text-heading-lg",
          "text-center text-pretty text-french-rose-500",
        ]}
      >
        Meet the Founders
      </h2>
      <Image
        src={garland}
        alt="Flowers garland"
        class:list={["object-contain", "place-self-center", "h-16 md:h-24"]}
      />
    </header>
    <article class:list={["grid grid-cols-1", "gap-y-6"]}>
      <Image
        src={founder}
        alt="La Chinacata founder"
        class:list={[
          "border-l-2 border-t-4 border-green-leaf-900",
          "object-cover object-center justify-self-center",
          "rounded-tl-full rounded-bl-full rounded-tr-full rounded-br-full",
          "w-4/6",
        ]}
      />
      <header
        class:list={[
          "grid grid-cols-1",
          "[&_p]:font-extralight [&_p]:text-lg [&_p]:text-center [&_p]:text-pretty [&_p]:text-green-leaf-900",
          "space-y-4",
        ]}
      >
        <p>
          My name is Rocío Reyna, but everyone knows me as La Chinacata. It’s a
          nickname my dad, Jorge Reyna, gave me when I was little, and today it
          represents my great passion: cooking.
        </p>
        <p>
          I grew up surrounded by pots and pans, learning the secrets of my
          family's kitchen. Today, La Chinacata is the result of that culinary
          heritage and the dream of sharing the flavors of home with all of you.
        </p>
        <p>
          Every dish we prepare carries the love and dedication of my entire
          family. Thanks to my husband, children, and siblings for making this
          project a reality. We look forward to welcoming you to enjoy a true
          homemade feast together!
        </p>
      </header>
    </article>
    <article class:list={["grid grid-cols-1", "gap-y-6"]}>
      <Image
        src={cofounder}
        alt="La Chinacata cofounder"
        class:list={[
          "border-l-2 border-t-4 border-green-leaf-900",
          "object-cover object-center justify-self-center",
          "rounded-tl-full rounded-bl-full rounded-tr-full rounded-br-full",
          "w-4/6",
        ]}
      />
      <header
        class:list={[
          "grid grid-cols-1",
          "[&_p]:font-extralight [&_p]:text-lg [&_p]:text-center [&_p]:text-pretty [&_p]:text-green-leaf-900",
          "space-y-4",
        ]}
      >
        <p>
          I am Yesenia Reyna, the proud second generation of La Chinacata. My
          passion for customer service and providing personalized attention
          drives me to help our clients create the event of their dreams with
          beautiful setups that complement my mom's delicious food.
        </p>
        <p>
          My commitment is to provide you with exceptional service, listen to
          your ideas, and make them a reality, so your event will be
          unforgettable.
        </p>
      </header>
    </article>
  </div>
</section>
