---
import { Image } from "astro:assets";
import founder from "../../assets/about/founder-s.png";
import cofounder from "../../assets/about/cofounder-s.png";
import garland from "../../assets/about/flowers.svg";
---

<section class="section-full space-y-10">
  <div
    class:list={[
      "section",
      "grid grid-cols-1 md:grid-cols-2",
      "gap-y-10",
      "gap-x-9",
    ]}
  >
    <article class:list={["grid grid-cols-1", "gap-2"]}>
      <Image
        src={founder}
        alt="La Chinacata founder"
        class:list={[
          "border-l-2 border-t-4 border-green-leaf-800",
          "object-cover object-center place-self-center",
          "rounded-tl-full rounded-bl-full rounded-tr-full rounded-br-full",
          "w-5/6 h-auto",
        ]}
      />
      <header
        class:list={[
          "grid grid-cols-1",
          "[&_p]:font-extralight [&_p]:text-lg [&_p]:text-center [&_p]:text-pretty [&_p]:text-green-leaf-900",
          "space-y-5",
        ]}
      >
        <Image
          src={garland}
          alt="Flowers garland"
          class:list={["object-contain", "place-self-center", "h-16 md:h-24"]}
        />
        <p>
          Mi nombre es Rocío Reyna, pero todos me conocen como La Chinacata. Un
          apodo que mi papá, Jorge Reyna, me puso desde pequeña y que hoy
          representa mi gran pasión: la cocina.
        </p>
        <p>
          Crecí entre ollas y sartenes, aprendiendo los secretos de la cocina de
          mi familia. Hoy, La Chinacata es el resultado de esa herencia
          culinaria y el sueño de compartir con todos ustedes los sabores de
          casa.
        </p>
        <p>
          Cada platillo que preparamos lleva el amor y la dedicación de toda mi
          familia. Gracias a mi esposo, hijos y hermanos por hacer de este
          proyecto una realidad. ¡Los esperamos para disfrutar juntos de un
          verdadero festín casero!
        </p>
      </header>
    </article>
    <article class:list={["grid grid-cols-1", "gap-2"]}>
      <Image
        src={cofounder}
        alt="La Chinacata cofounder"
        class:list={[
          "border-l-2 border-t-4 border-green-leaf-800",
          "object-cover object-center place-self-center",
          "rounded-tl-full rounded-bl-full rounded-tr-full rounded-br-full",
          "w-5/6 h-auto",
        ]}
      />
      <header
        class:list={[
          "grid grid-cols-1",
          "[&_p]:font-extralight [&_p]:text-lg [&_p]:text-center [&_p]:text-pretty [&_p]:text-green-leaf-900",
          "space-y-5",
        ]}
      >
        <Image
          src={garland}
          alt="Flowers garland"
          class:list={["object-contain", "place-self-center", "h-16 md:h-24"]}
        />
        <p>Soy Yesenia Reyna y soy la segunda generación de La Chinacata.</p>
        <p>
          Mi pasión es el servicio al cliente, brindar atención personalizada y
          ayudarlos crear el evento de sus sueños creando montajes hermosos que
          complementan la deliciosa comida de mi mamá.
        </p>
        <!-- <p>
          We take pride in sharing not only our food but also our history and
          values with you. We are more than just a catering business; we are a
          family dedicated to providing you with unforgettable moments through
          the magic of homemade cooking.
        </p> -->
      </header>
    </article>
  </div>
</section>
