---
import { Image } from "astro:assets";
import founder from "../../assets/about/founder-s.png";
import cofounder from "../../assets/about/cofounder-s.png";
import garland from "../../assets/about/flowers.svg";
---

<section class="section-full space-y-10">
  <div
    class:list={[
      "section",
      "grid grid-cols-1 md:grid-cols-2 items-start",
      "gap-y-10 gap-x-9",
    ]}
  >
    <article class:list={["grid grid-cols-1", "gap-3"]}>
      <Image
        src={founder}
        alt="La Chinacata founder"
        class:list={[
          "border-l-2 border-t-4 border-green-leaf-900",
          "object-cover object-center justify-self-center",
          "rounded-tl-full rounded-bl-full rounded-tr-full rounded-br-full",
          "w-3/4",
        ]}
      />
      <header
        class:list={[
          "grid grid-cols-1",
          "[&_p]:font-extralight [&_p]:text-lg [&_p]:text-center [&_p]:text-pretty [&_p]:text-green-leaf-900",
          "space-y-4",
        ]}
      >
        <Image
          src={garland}
          alt="Flowers garland"
          class:list={["object-contain", "justify-self-center", "h-16 md:h-24"]}
        />
        <p>
          Mi nombre es Rocío Reyna, pero todos me conocen como La Chinacata. Un
          apodo que mi papá, Jorge Reyna, me puso desde pequeña y que hoy
          representa mi gran pasión: la cocina.
        </p>
        <p>
          Crecí entre ollas y sartenes, aprendiendo los secretos de la cocina de
          mi familia. Hoy, La Chinacata es el resultado de esa herencia
          culinaria y el sueño de compartir con todos ustedes los sabores de
          casa.
        </p>
        <p>
          Cada platillo que preparamos lleva el amor y la dedicación de toda mi
          familia. Gracias a mi esposo, hijos y hermanos por hacer de este
          proyecto una realidad. ¡Los esperamos para disfrutar juntos de un
          verdadero festín casero!
        </p>
      </header>
    </article>
    <article class:list={["grid grid-cols-1", "gap-3"]}>
      <Image
        src={cofounder}
        alt="La Chinacata cofounder"
        class:list={[
          "border-l-2 border-t-4 border-green-leaf-900",
          "object-cover object-center justify-self-center",
          "rounded-tl-full rounded-bl-full rounded-tr-full rounded-br-full",
          "w-3/4",
        ]}
      />
      <header
        class:list={[
          "grid grid-cols-1",
          "[&_p]:font-extralight [&_p]:text-lg [&_p]:text-center [&_p]:text-pretty [&_p]:text-green-leaf-900",
          "space-y-4",
        ]}
      >
        <Image
          src={garland}
          alt="Flowers garland"
          class:list={["object-contain", "justify-self-center", "h-16 md:h-24"]}
        />
        <p>
          Soy Yesenia Reyna, la orgullosa segunda generación de La Chinacata. Mi
          pasión por el servicio al cliente y brindar una atención personalizada
          me impulsa a ayudar a nuestros clientes a crear el evento de sus
          sueños con hermosos montajes que complementan la deliciosa comida de
          mi mamá.
        </p>
        <p>
          Mi compromiso es brindarte un servicio excepcional, escuchar tus ideas
          y convertirlas en realidad, para que tu evento sea inolvidable.
        </p>
      </header>
    </article>
  </div>
</section>
