<section
  class:list={[
    "section-full",
    "bg-contact-hero bg-no-repeat bg-left lg:bg-center bg-cover",
    "h-[calc(65vh)]",
  ]}
>
  <div
    class:list={[
      "section-full",
      "bg-gradient-to-b from-transparent via-green-leaf-950/20 from-20% to-french-rose-950/25 to-70%",
      "flex justify-center",
      "h-full w-full",
    ]}
  >
    <h1
      class:list={[
        "absolute top-1/2 2xl:top-1/3",
        "font-serif drop-shadow-lg",
        "mb-4",
        "max-w-96 lg:max-w-xl",
        "px-1 sm:px-4",
        "text-hero-sm md:text-hero-md lg:text-hero-lg text-center text-pretty text-vista-white",
      ]}
    >
      Get in touch
    </h1>
  </div>
</section>
