---
import { Image } from "astro:assets";
import logo from "../assets/logo/logo-footer.svg";
---

<footer class:list={["section-full", "py-20"]}>
  <div
    class:list={[
      "flex justify-center md:justify-start",
      "mx-auto",
      "max-w-screen-xl",
      "w-4/5",
    ]}
  >
    <Image src={logo} alt="la chinacata logo" class:list={["w-36", "pb-14"]} />
  </div>

  <div
    class:list={[
      "border-t border-t-green-leaf-800",
      "flex flex-col md:flex-row",
      "items-center justify-center md:justify-between",
      "font-extralight text-[15px] text-green-leaf-800",
      "mx-auto",
      "max-w-screen-xl",
      "w-4/5",
    ]}
  >
    <p class="pt-7 text-center">La Chinacata© 2024 All rights reserved</p>
    <a class="cursor-pointer pt-2 md:pt-7" href="#">Privacy policy</a>
  </div>
</footer>
