---
import { Image } from "astro:assets";

import appetizers from "../../assets/gallery/appetizers.jpeg";
import backyardBrunch from "../../assets/gallery/backyard-brunch.jpeg";
import barnParty from "../../assets/gallery/barn-party.jpeg";
import beefSliders from "../../assets/gallery/beef-sliders.jpeg";
import birthdayBrunch from "../../assets/gallery/birthday-brunch.jpeg";
import birthdayDinner from "../../assets/gallery/elegant-appetizers.jpeg";
import brunch from "../../assets/gallery/brunch.jpeg";
import chickenSalad from "../../assets/gallery/chicken-salad.jpeg";
import formalDinner from "../../assets/gallery/formal-dinner.jpeg";
import waffles from "../../assets/gallery/waffles.jpeg";
import sliders from "../../assets/gallery/sliders.jpeg";
import freshFruit from "../../assets/gallery/fresh-fruit-platter.jpeg";
import shrimpCocktail from "../../assets/gallery/shrimp-cocktail.jpeg";
import roastedPotatoes from "../../assets/gallery/roasted-potatoes.jpeg";
import jalapeñoPoppers from "../../assets/gallery/jalapeño-poppers.jpeg";

const images = [
  { image: birthdayDinner, class: "", position: "" },
  { image: appetizers, class: "", position: "row-span-2" },
  { image: backyardBrunch, class: "", position: "" },
  { image: barnParty, class: "", position: "row-span-2" },
  { image: beefSliders, class: "", position: "row-span-2 hidden md:block" },
  {
    image: birthdayBrunch,
    class: "object-bottom",
    position: "hidden md:block",
  },
  { image: brunch, class: "", position: "hidden md:block" },
  { image: chickenSalad, class: "object-top", position: "hidden md:block" },
  { image: formalDinner, class: "object-bottom", position: "hidden md:block" },
  { image: waffles, class: "object-bottom", position: "" },
  { image: sliders, class: "", position: "row-span-2" },
  { image: shrimpCocktail, class: "", position: "" },
  { image: roastedPotatoes, class: "", position: "row-span-2 hidden md:block" },
  { image: freshFruit, class: "object-bottom", position: "hidden md:block" },
  {
    image: jalapeñoPoppers,
    class: "object-bottom",
    position: "hidden md:block",
  },
];
---

<section class="section">
  <main class="flex flex-col gap-8">
    <header
      class:list={[
        "flex flex-col gap-7",
        "text-center",
        "[&_p]:text-center [&_p]:text-lg",
        "font-extralight text-green-leaf-900",
      ]}
    >
      <h2
        class="font-serif font-medium text-heading-sm md:text-heading-lg text-french-rose-400"
      >
        Flavors that inspire
      </h2>

      <p>
        At La Chinacata, food is more than sustenance; it's an expression of
        love and family tradition.
        <br />
        We want you to experience up close the magic we create for special events.
      </p>

      <p>Take a look at our gallery and delight yourself with</p>

      <ul
        class="mx-auto text-lg w-fit list-['🌸'] [&_li]:pl-1 [&_li]:text-left"
      >
        <li>Exquisite dishes</li>
        <li>Enchanting settings</li>
        <li>Happy moments</li>
      </ul>

      <p>
        Looking for inspiration for your next event? You've come to the right
        place!
      </p>

      <p>
        Let yourself be seduced by the flavors and creativity that La Chinacata
        offers you.
      </p>
    </header>

    <!-- gallery -->
    <div
      class="grid grid-cols-2 md:grid-cols-4 grid-rows-5 gap-3 max-h-[80vh] h-full min-h-[400px]"
    >
      {
        images.map((img, i) => (
          <div class:list={["overflow-hidden", "rounded", img.position]}>
            <Image
              src={img.image}
              alt={`Gallery image ${i + 1}`}
              class:list={[
                "bg-black/10",
                "object-cover object-center",
                "w-full h-full",
                "hover:scale-110 transition-transform duration-300 ease-in-out",
                img.class,
              ]}
            />
          </div>
        ))
      }
    </div>
  </main>
</section>
